{{#if errorMessage}}
<div class="alert alert-danger">
<pre>{{errorMessage}}</pre>
</div>
{{/if}}
{{#if (or details.isConnectionReset details.maxRequestQueueLimitHit)}}
    <button type="button" class="btn btn-polarity btn-sm retry-btn"{{action "retryLookup"}}>
        {{#if running}}
            {{fa-icon icon="spinner-third" fixedWidth=true spin=true}}
        {{else}}
            Retry Lookup
        {{/if}}
    </button>
{{else if details}}
    {{#if block.isCached}}
        <i class="cached">(Entity is Cached)</i>
    {{/if}}

    <h1 class="p-title">{{fa-icon icon="sitemap" fixedWidth=true}} Organization Information
        {{#if details.orgRef}}
            <a class="p-link" href="{{details.orgRef}}">(View Org Info {{fa-icon icon="external-link-square" fixedWidth=true class="external-link"}})</a>
        {{/if}}
    </h1>

    {{#if details.orgHandle}}
        <div>
            <span class="p-key">Handle: </span>
            <span class="p-value">{{details.orgHandle}}</span>
        </div>
    {{/if}}

    {{#if details.orgName}}
        <div>
            <span class="p-key">Name: </span>
            <span class="p-value">{{details.orgName}}</span>
        </div>
    {{/if}}


    <h1 class="p-title">{{fa-icon icon="cube" fixedWidth=true}} Network Block
        {{#if details.netBlockRef}}
            <a class="p-link" href="{{details.netBlockRef}}">(View Network Info {{fa-icon icon="external-link-square" fixedWidth=true class="external-link"}})</a>
        {{/if}}
    </h1>

    {{#if details.netBlockHandle}}
        <div>
            <span class="p-key">Handle: </span>
            <span class="p-value">{{details.netBlockHandle}}</span>
        </div>
    {{/if}}

    {{#if details.netBlockName}}
        <div>
            <span class="p-key">Name: </span>
            <span class="p-value">{{details.netBlockName}}</span>
        </div>
    {{/if}}

    {{#if details.netBlockCIDR}}
        <div>
            <span class="p-key">CIDR: </span>
            <span class="p-value">{{details.netBlockCIDR}}</span>
        </div>
    {{/if}}

    {{#if details.startAddr}}
        <div>
            <span class="p-key">Start Address: </span>
            <span class="p-value">{{details.startAddr}}</span>
        </div>
    {{/if}}

    {{#if details.endAddr}}
        <div>
            <span class="p-key">End Address: </span>
            <span class="p-value">{{details.endAddr}}</span>
        </div>
    {{/if}}

    {{#if details.regDate}}
        <div>
            <span class="p-key">Registration Date: </span>
            <span class="p-value">{{details.regDate}}</span>
        </div>
    {{/if}}

    {{#if details.upDate}}
        <div>
            <span class="p-key">Last Update Date: </span>
            <span class="p-value">{{details.upDate}}</span>
        </div>
    {{/if}}

    {{#if details.parentRef}}
        <h1 class="p-title">{{fa-icon icon="globe" fixedWidth=true}} Parent Network Details
            <a class="p-link" href="{{details.parentRef}}">(View Parent Info {{fa-icon icon="external-link-square" fixedWidth=true class="external-link"}})</a>
        </h1>
    {{/if}}

    {{#if details.parentHandle}}
        <div>
            <span class="p-key">Parent Net Handle: </span>
            <span class="p-value">{{details.parentHandle}}</span>
        </div>
    {{/if}}

    {{#if details.parentName}}
        <div>
            <span class="p-key">Parent Net Name: </span>
            <span class="p-value">{{details.parentName}}</span>
        </div>
    {{/if}}
{{else}}
    No Results
{{/if}}

